body{
    font-family: "Cooper Hewitt", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
}
a{
    text-decoration: none;
}
i{
    font-family: 'FontAwesome';
    font-style: normal;
}
img{
    width: 100%;
}
.container{
    margin: 0 auto;
    width: 375px;
}
.menu-open{
    border: 0;
    background: transparent;
}
.menu-open__item{
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin-bottom: 3px;
    background-color: #ff5400;
}
.menu-close{
    position: absolute;
    top: 10px;
    left: 28px;
    border: 0;
    background-color: transparent;
    padding: 0;
    outline: none;
}
.fa-times-thin:before {
	content: '\00d7';
}
.menu-close::before{
    color: #fff;
    font-size: 30px;
}
.menu-btn__item:last-child{
    margin-bottom: 0;
}
.soc{
    display: flex;
    width: 195px;
    margin: 0 auto;
    justify-content: space-between;
}
.soc__inst, .soc__fb, .soc__tw{
    display: block;
    width:27px;
    height:27px;
    padding: 6px;
    color: #fff;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
}
.soc__inst img{
    width: 25px;
    height: 25px;
    margin-top: 1px;
}
.soc__inst--active:hover{
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}
.soc__inst--active:active{
    background: linear-gradient(45deg, #fbb01c 30%, #e60211 55%, #c50093 70%);
}
.soc__inst--active:active img{
    filter: brightness(10)
}
.soc__fb--active:hover{
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}
.soc__fb--active:active{
    background-color: #003ad6;
    color: #fff;
}
.soc__tw--active:hover{
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}
.soc__tw--active:active{
    background-color: #50cdf5;
    color: #fff;
}
.soc__fb{
    color: #003ad6;
    font-size: 24px;
}
.soc__tw{
    color: #50cdf5;
    font-size: 24px;
    line-height: 27px;
}
.header__copyright{
    width: 140px;
    color: #ffffff;
    font-family: "Verdana";
    font-size: 9px;
    font-weight: 400;
    margin: 0 auto;
    margin-top: 30px;
}
.main-header {
    padding: 18px 0;
    padding-left: 30px;
}
.main-nav {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    background-image: linear-gradient(-40deg, #ff8d00 0%, #ff5400 100%);
    width: 100%;
    height: 100%;
}

.main-nav .apps {
    text-align: right;
    padding-top: 25px;
    padding-right: 40px;
}
.apps__item{
    display: inline-block;
    width: 60px;
    height: 30px;
}
.apps__item:first-child{
    margin-right: 3px;
}

.main-nav-list {
    list-style: none;
    padding-left: 3px;
    margin: 40px 40px 30px 42px;
    border-bottom: 2px solid #fff;
}

.main-nav-list__item {
    margin-bottom: 35px;
}
.main-nav-list__item:last-child{
    margin-bottom: 35px;
}
.main-nav-list a {
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0.8px;
}
.main-nav-list .active {
    font-weight: 700;
}
.main-img {
    background: url("../images/main-img.png") no-repeat center;
    height: 600px;
    text-align: center;
}
.main-logo {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -115px;
    width: 230px;
    height: 110px;
    display: inline-block;
}
.main-slider-wrapper .apps{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -62px;
}
.header-info {
    list-style: none;
    font-size: 9px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 0 0 42px;
    padding-left: 3px;
}
.header-info__item a {
    color: #fff;
    font-weight: 100;
}

.header-info__item {
    margin-bottom: 30px
}
.main-slider-wrapper{
    position: relative;
    height: 665px;
}
.main-slider{
    height: 100%;
}
.main-slider__item{
    height: 100%;
    overflow: hidden;
}
.main-slider__item a{
    display: block;
    height: 100%;
    position: relative;
}
.main-slider .slick-list{
    height: 100%;
}
.main-slider__item img{
    position: absolute;
    left: -75%;
    width: auto;
    height: 100%;
}
.slick-track, .slick-list{
    height: 100%;
}